.page-content {
    margin-bottom: 80px;
    margin-top: 80px;
    max-width: 400px;
    display: flex;
    min-height: calc(100vh - 120px);
    align-items: center;
    margin: 35px auto;

    text-align: center;
}

.form__container {
    padding: 0 50px;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;

    padding-left: 50px;
    display: flex;
}
.form__header {
    margin-bottom: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__legend {
    font-size: 0.8rem;
}
.form__input {
    display: block;
    padding: 12px 14px;
    border-radius: 0;
    border: 1px solid rgb(47, 47, 47);
    width: 100%;
    height: 28px;
    line-height: normal;
    resize: none;
    background: transparent;
    margin-bottom: 2rem;
}

.btn {
    position: relative;
    display: block;
    width: 110%;
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin: 30px 0;
    border: 2px solid #000000;
    padding: 14px 60px;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
}
.btn1::after {
    background: #000000;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    z-index: -1;
}
.btn:hover {
    color: rgb(255, 255, 255);
}
.btn1:hover::after {
    width: 101%;
    height: 200%;
    transition: 0.8s;
}
.form__hint {
    text-align: center;
}
.form__hint--text {
    font-size: 0.8rem;
}
.form__hint--text2 {
    font-weight: bolder;
    color: #000000;
}
.form__hint--text2:hover {
    color: #2b2b2b;
}
