.header__container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  height: 80px;
  padding: 2rem;
  background-color: #fef8de;
  position: sticky;
}
