.container-search {
  display: flex;
  flex-direction: row;

  margin: 20px;
  align-items: center;
  justify-content: center;
}
.for__input--search {
  width: 500px;
  border-width: 0 0 1px;
  padding-top: 49px;
}

.icon-search {
  margin-left: 20px;
  margin-bottom: 20px;
  height: 40px;
  cursor: pointer;
}

.card-recipe {
  width: 400px;
  height: 400px;
  overflow: hidden;
}
.card-recipe img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: beige;
}
